/* Set font size for whole page and for rem */
html {
  font-size: 16px;
}

body {
  background-color: rgb(39, 41, 52);
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
}

img {
  height: 70px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #d4d3d3;
  border-top: 1px solid #d4d3d3;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-add-random {
  border: none;
  text-decoration: none;
  background-color: #0048ff;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border-radius: 8px;
  margin: 20px;
  margin-bottom: 50px;
  font-weight: 500;
}

/* Add a pseudo selector to animate button #btn-add-random when clicked, with confeti */
#btn-add-random:active {
  background-color: #be2b55;
}


.btn-like {
  border: none;
  text-decoration: none;
  background-color: #3a4a74;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding-top: 4px;
  margin: 0 auto;
}

.btn-like:hover {
  transition: 0.2s;
  background-color: #768abf;  
}

.btn-like img {
  width: 18px;
  height: 18px;
}

.btn-like.selected {
  background-color: #be2b55;
}

.btn-delete {
  border: none;
  text-decoration: none;
  background-color: #3a4a74;
  cursor: pointer;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 3px 16px;
  margin: 0 auto;  
  border-radius: 4px;
  font-size: 1em;
}

.btn-delete:hover {
  transition: 0.2s;
  background-color: #768abf;  
}

.contact-pic {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 20px;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 10px 10px rgba(27, 26, 26, 0.15);
  border: 1px solid white
}

.contact-name {
  font-weight: bolder;
}
